GIT_HOST=github.com
GIT_USER=your_user
GIT_REPO=some-repo
GIT_TOKEN=your_personal_access_token
GIT_EMAIL=automation@localhost
GIT_NAME=Automation Bot
SCRIPT_WORKDIR=scripts
SCRIPT_PATH=update.sh
COMMIT_PATHS=output/data.txt
JOB_NAME=My Job
CRON_SCHEDULE=0 22 * * 0
TZ=Europe/Berlin
